html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.button {
    background-color: #0ebb9e;
    border-style: none;
    margin-left: 1em;
}

.button:hover{
    background-color:  #0ebb9ed5;
}

.button:active {
    background-color: #0ebb9e;
}

/*Signup*/

.signup-forms {
    width: 35vw;
    margin: auto;
    margin-top: 3em;
    padding: 1em;
    text-decoration: none;

}

.signup-button {
    background-color: #0ebb9e;
    border-style: none;
    margin-top: 1em;
}

.signup-button:hover{
    background-color:  #0ebb9ed5;
}

.signup-button:active {
    background-color: #0ebb9e;
}

.signup-fcontrol {
    border-style: none;
    box-shadow: none;
    background-color: lightgray;
}

/*Landing Display*/

 .car-display {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 2em;
}



.car-display-card {
    align-items: center;
    margin: 2em;
    height: 250px;
    width: 380px;
}

.link-details {
    text-decoration: none;
    color: black;
    text-align: center;
}

.link-details:hover {
    text-decoration: underline;
    color: black;
}

/*Img Upload Component*/

.img-upload-button {
   background-color:  #0ebb9e;
   border-style: none;
}

.img-upload-button:hover{
    background-color:  #0ebb9ed5;
}

.img-upload-button:active {
    background-color: #0ebb9e;
}

/*Details Page*/

.details-display {
   width: 50em;
   margin: auto;
   margin-top: 2em;
}

.history {
    background-color: #fcf0f0;
    color: rgb(105, 104, 104);
    padding: 0.5em;
    border-radius: 10px;
}

/*Comment component*/

.comment-fcontrol {
    width: 40vw;
    border-style: none;
    box-shadow: none;
    background-color: lightgray;
}

.comment-button {
    background-color:  #0ebb9e;
    border-style: none;
    margin-top: 1em;
 }
 
 .comment-button:hover{
     background-color:  #0ebb9ed5;
 }

 .comment-button:active {
    background-color: #0ebb9e;
}

.comment-section {
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 1em;
}

/*User Profile*/

.profile-div {
    padding-top: 2em;
    width: 50vw;
    margin: auto;
}


.logout-button {
    margin-top: 2em;
    background-color:  #0ebb9e;
    border-style: none;
 }
 
 .logout-button:hover{
     background-color:  #0ebb9ed5;
 }
 
 .logout-button:active {
     background-color: #0ebb9e;
 }

 .profile-td {
    padding-left: 1em;
 }

 