html, body {
margin: 0;
box-sizing: border-box; 
background-color: #303030;
color: white;
}

h2 {
    font-family: "Faster One", sans-serif;
    font-size: 37px;
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

h4 {
    text-align: center;
}

/* span {
    display: block;
} */


.main-display {
    box-sizing: border-box;
}


.title-landing {
    font-family: "Faster One", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.form-control {
    background-color: white;
}

.login-form {
    width: 50vw;
    margin: auto;
}

.log-button {
    margin: 0.8em 0.5em;
    width: 10em;
    border-style: none;
    color: black;
    background-color: #a6ffb9;
}

.login-button:hover {
    background-color: lightslategray;
}

.landing-slogan{

}

.logout-button {
    margin: 0.8em 0.5em;
    border-style: none;
    color: black;
    background-color: #a6ffb9;
    width: 10em;
}

.signup-form {
    width: 50vw;
    margin: auto;
}

.card {
    text-align: center;
    margin: 0.7em;
    color: #303030;
    width: 50vw;
    margin: auto;
    margin-top: 0.8em;
    padding-top: 0.5em;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
