.avatar-form {
    display: flex;
    justify-content: center;
}

.avatar-button {
    background-color: #a6ffb9;
    color: #000;
    border-style: none;
}

.avatar-button:hover {
    background-color: lightslategray;
}

.nav-title {
    font-family: "Faster One", sans-serif;
    font-size: 30px;
}

.nav-link {
    color: black;
    font-size: 20px;
}

.nav-link:hover {
    color: lightslategray
}

